nav a {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px 0px 0px;
    text-decoration: underline;
    font-size: 13px;
  }

  

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  nav a.active {
    background-color: #04AA6D;
    color: white;
  }